.idea
.classpath
.metadata
.project
.settings
.externalToolBuilders
maven-eclipse.xml
*.swp
*.iml
*.ipr
*.iws
*.bak
*.log
.vlt
.DS_Store
atlassian-ide-plugin.xml

/target/
src/main/javascript/node
src/main/resources/generated

**/node_modules